<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کاوش در کتابخانه زندگی
</font>
</h1>

<div dir="rtl">
<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>
</div>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم با آنجه که در این فصل آموختیم کارکنیم. یک فایل متنی <code>Library_of_Life.txt</code> در اختیار شما قرار گرفته شده است که می‌بایست با استفاده از هرسه روش توکن‌سازی (توکن‌سازی براساس کلمه، توکن‌سازی براساس کاراکتر و توکن‌سازی براساس زیرکلمه) به تحلیل فرکانس (تعداد تکرارهای کلمات) در این متن بپردازید و در انتها در هر روش ۱۰ موردی که بیشترین فرکانس را داشتند را مشخص کنیم.
    </font>
    </p>
    
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    درپایان تمرین با مفاهیم زیر به صورت عملی کار خواهیم کرد:
    </font>
    </p>
    
<div dir="rtl">    
    
+ **بازکردن و خواندن فایل**
+ **استفاده از ابزار توکن‌سازی**
+ **یافتن فراکانس کلمات**
+ **مصور سازی**
    </div>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای اینکار می‌بایست ابتدا فایل متنی را باز کرده و محتویات آن را بخوانیم
    </font>
    </p>

In [3]:
# Open the file in read mode from the specified path
with open("../data/The_Library_of_Life.txt", 'r', encoding="utf8") as file:
    
    # read file
    text = file.readlines()
    

# show text
print(text)

['Once upon a time, in a quiet little town nestled between rolling green hills, there was an old library known as The Library of Life. It was said to hold the secrets of learning, love, and the mysteries of existence itself. People came from far and wide to explore its dusty shelves, but no one truly understood its purpose—until a young woman named Elara arrived.\n', '\n', 'Elara was a curious soul, always searching for meaning. She spent her days reading, learning about the world, and questioning everything. One day, while wandering the aisles of the library, she found an ancient book titled The Three Lessons.\n', '\n', 'When she opened it, the first page read:\n', '“To learn is to live. To love is to grow. To understand is to become.”\n', '\n', 'Intrigued, Elara turned the page. It instructed her to find a stranger in the library and share her favorite story with them. Nervously, she approached a young man sitting near the window, his nose buried in a book. His name was Arin.\n', '\n', 'They began talking, and soon, they were laughing, sharing stories of their lives and dreams. Over time, their conversations turned into friendship, and friendship blossomed into love. Together, they returned to The Three Lessons.\n', '\n', 'The second page read:\n', '“Love teaches us the lessons that books cannot.”\n', '\n', 'With Arin by her side, Elara realized that learning wasn’t just about facts and knowledge; it was about connection, empathy, and growth. They traveled together, exploring the world and its wonders, learning from every person they met.\n', '\n', 'Finally, one rainy evening, they turned to the last page of the book. It said:\n', '“The greatest lesson of life is to embrace every moment—both the joy and the pain—because every moment is a story worth telling.”\n', '\n', 'Elara closed the book, her heart full of gratitude. She understood now: life was the ultimate library, and every experience was a chapter in its endless story.\n', '\n', 'From that day forward, Elara and Arin continued their journey, not just as learners, but as storytellers, writing their own book in the library of life.\n', '\n']

<details class='green'>
    <summary>
        <p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
        <font face="vazir" size=3>
            نصب کتابخانه‌ها
            </font>
        </p>
    </summary>
    
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
    <font face="vazir" size=3>
        اگر کتابخانه‌های زیر را در سیستم خود ندارید، می‌توانید با اجرای دستورات زیر آن‌ها در سیستم خود نصب کنید.
    </font>
</p>

```python
!pip install spacy
!pip install transformers
!pip install numpy==1.16
!pip install pandas
```
</details>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که محتویات متن را در برنامه خود قرار دادیم نوبت به آن است که با فراخوانی کتابخانه مورد نیاز به پیش‌پردازش آن بپردازیم که در این بخش به شما، کتابخانه <code>spaCy</code> پیشنهاد می‌شود اما شما می‌توانید با استفاده از کتابخانه‌های دیگری که خود می‌دانید اینکار را انجام دهید.
    </font>
    </p>

In [6]:
import spacy
import nltk
import transformers as tf
import pandas as pd

/opt/miniconda3/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
توکن‌سازی کلمه‌ای
</font>
</h2>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    با توجه به زبان (انگلیسی)، کوتاهی متن داستان و قابلیت‌های توکن‌سازی براساس کلمه برای این‌نوع زبان‌ها یکی از موارد مناسب برای این تمرین می‌تواند مناسب باشد. 
    پس در این بخش می‌بایست به توکن‌سازی داستان براساس کلمه بپردازیم.
    برای اینکار یکی از ابزار مهمی که در اختیار داریم کتابخانه <code>spaCy</code> می‌باشد 
    </font>
    </p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
    <font face="vazir" size=3>
        برای اینکار ابتدا باید مدل مورد نظر از کتابخانه <code>spaCy</code> را با توجه به متن و نوع کاربرد خود دانلود کنیم و سپس آن را بارگزاری کنیم.<br>
        برای این تمرین مدل <code>en_core_web_sm</code> می‌تواند مناسب باشد.
    </font>
</p>

In [7]:
# download the appropriate model
spacy.cli.download('en_core_web_sm')

# load the model
nlp = spacy.load('en_core_web_sm')

Collecting en-core-web-sm==3.8.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl (12.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 316.6 kB/s eta 0:00:0000:0100:02
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')
⚠ Restart to reload dependencies
If you are in a Jupyter or Colab notebook, you may need to restart Python in
order to load all the package's dependencies. You can do this by selecting the
'Restart kernel' or 'Restart runtime' option.

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    پس از آنکه مدل مورد نظر خود را دانلود و در برنامه بارگذاری کردیم نوبت به توکن‌سازی کلمه‌ای متن میرسد.
    نتیجه پردازش داستان را در متغیری به‌نام <code>doc_preprocessing</code> ذخیره می‌کنیم.
</font>
    </p>

In [10]:
# do preprocessing with spaCy (nlp)
doc_preprocessing = nlp(''.join(text))

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
    <font face="vazir" size=3>
        پس از پیش پردازش متن توسط خط لوله <code>spaCy</code> یکی از نتایجی که این <code>piplien</code> در اختیار ما قرار می‌دهد توکن‌های کلمه ایست. این توکن‌ها را استخراج کرده و در یک متغیر به نام <code>word_tokenize</code> دخیره کنید. 
    </font>
</p>

In [23]:
# Word token separation
word_tokenize = [ token.text for token in doc_preprocessing]

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در توکن‌سازی کلمه‌ای، یکی از عوامل موثر در بدست آوردن اطلاعات با ارزش حذف نویز و کلمات توقف است که با استفاده از کتابخانه‌های <code>nltk</code> و <code>string</code> قابل انجام است.<br>
    وجود این عوامل باعث کاهش دقت و افزایش حجم داده‌ها در سیستم‌ها می‌شود.
    </font>
    </p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
    <font face="vazir" size=3>
        در مرحله اول ابتدا با استفاده از کتابخانه <code>nltk</code> و ماژول <code>corpus</code> ، کلمات توقف را بارگزاری کرده و توکن‌های غیر توقف را جداسازی می‌کنیم.<br>
        حاصل این فرایند را در متغیری بنام <code>word_token</code> ذخیره می‌کنیم.
    </font>
</p>

In [24]:
# delete the stopwords

# Loading stop words tool
from nltk.corpus import stopwords

# download the stopwords set 
nltk.download('stopwords')

# save the stopwords tokens in english in a variable
stop_words = set(stopwords.words('english'))

# Separating non-stop tokens
word_token = [w for w in word_tokenize if not w.lower() in stop_words]
word_token[:5]

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kiananasiri/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['upon', 'time', ',', 'quiet', 'little']

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
    <font face="vazir" size=3>
            در گام دوم در حذف نویز، باید به حذف اعلائم نگارشی مانند <code>؟</code> ، <code>.</code> و ... بپردازیم که برای اینکار با استفاده از کتابخانه <code>string</code> و ماژول <code>punctuation</code> به انجام اینکار می‌پردازیم.
    </font>
</p>

In [25]:
# delete punctuation

# load the string module for import punctuation set ( you can do this operation with nltk)
import string

# save the punctuation in variable
punctuations = string.punctuation

# Separating non-puncuation tokens
word_token = [w for w in word_token if not w in punctuations]

# Getting the length of tokes
lenth_of_word_tokenize = len(word_token)

print(f'lenth of word tokenize data frame: {lenth_of_word_tokenize}')
word_token[:5]

lenth of word tokenize data frame: 212

['upon', 'time', 'quiet', 'little', 'town']

AttributeError: 'list' object has no attribute 'unique'

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    پس از نویز زدایی توکن‌ها کافی است که فرکانس (تعداد تکرار) توکن‌ها را حساب کرده و در یک دیتافریم به‌نام <code>word_tokenize_frequency_df</code> ذخیره کنیم.
    </font>
    </p>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
دیتا فریم می‌بایست به مشابه شکل زیر باشد(مقادیر دیتافریم شما با شکل متفاوت است):
</font>
</p>

<div align="center">

| | token | frequncy|
|---|----|-----|
| 0 | upon | 5 |
| 1 | home | 12 |
| 2 | book | 2 |
| ... | ... | ... |

</div>

In [34]:
from collections import Counter

word_token_freq = Counter(word_token)
word_tokenize_frequency_df = pd.DataFrame(word_token_freq.items(), columns=['token', 'frequency'])
word_tokenize_frequency_df.head()

    token  frequency
0    upon          1
1    time          2
2   quiet          1
3  little          1
4    town          1

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال کافیسیت که 10 توکنی که بیشترین فرکانس را دارا هستند را همراه با تعداد تکرار آن‌ها در متن را  در متغیری به نام <code>top_10_word_token_df</code> ذخیره کنیم.
    </font>
    </p>

In [79]:

top_10_word_token_df = word_tokenize_frequency_df.nlargest(10 , 'frequency')
top_10_word_token_df

        token  frequency
38       \n\n         10
36      Elara          6
10    library          5
56       book          5
17   learning          4
62       page          4
121     every          4
18       love          3
32          —          3
64         \n          3

<div dir="rtl">
<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
توکن‌سازی کاراکتری
</font>
</h2>
</div>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال نوبت به توکن‌سازی کاراکتری متون می‌باشد در این بخش می‌بایست که داده‌های متنی خود را به حالت کاراکتری ذخیره کرده و احتیاجی به نویز گیری داده‌ها نیست چرا که تمام حروف و توالی این حروف و کاراکترها برای ما ارزشمند است پس نیازی به حذف علائم نگارشی در این مبحث نیست
    .
    </font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
    <font face="vazir" size=3>
        همینطور که در درسنامه‌های این فصل مشاهده کردیم، این نوع توکن‌سازی برای زبان‌هایی مناسب است که ساختار پیچیده‌تری بین حروف کلمات آن وجود دارد و یافتن الگوی بین این کلمات برای ما ارزش بیشتری دارد.
    </font>
</p>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    فراکانس تمام کاراکترها را حساب کرده و در یک دیتافریم به نام <code>char_tokenize_frequency_df</code> ذخیره کنید.
    10 کاراکتری که بیشترین میزان فراکانس را در کاراکتر‌ها را داراهستند در یک متغیر به نام <code>top_10_char_df</code> ذخیره کنید.
    </font>
    </p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
دیتا فریم می‌بایست به مشابه شکل زیر باشد: (مقادیر دیتافریم شما با شکل متفاوت است)
</font>
</p>

<div align="center">

| | token | frequncy|
|---|----|-----|
| 0 | A | 5 |
| 1 | o | 12 |
| 2 | z | 2 |
| ... | ... | ... |

</div>

In [67]:
# char tokenize
char_tokenize = list(''.join(text))

# Getting the length of char tokenize set
length_of_char_tokenize = len(char_tokenize)

print(length_of_char_tokenize)

2021

In [69]:
# Getting the frequency of tokens and save in the "char_tokenize_frequency_df"
from collections import Counter
char_tokenize_frequency_df = pd.DataFrame( Counter(char_tokenize).items() , columns=['token' , 'frequency'] )
char_tokenize_frequency_df.head()

  token  frequency
0     O          3
1     n        128
2     c         23
3     e        211
4              329

In [70]:
top_10_chars_df = char_tokenize_frequency_df.nlargest(10, 'frequency')
top_10_chars_df

   token  frequency
4               329
3      e        211
9      t        136
1      n        128
8      a        122
19     r        120
7      o        117
10     i        104
16     s        103
21     h         75

<div dir="rtl">
    <h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
توکن‌سازی زیرکلمه‌ای
</font>
</h2>
</div>

<div dir="rtl">
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>

در این بخش به توکن‌سازی داستان براساس زیرکلمه‌ها می‌پردازیم و در این مرحله فراکانس تمام توکن‌ها را گرفته در یک دیتافریم به نام
    <code>subword_tokenize_frequency_df</code> ذخیره کنید.
    </font>
    </p>
    </div>
    
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    فراکانس تمام توکن‌ها را حساب کرده و در یک دیتافریم به نام <code>char_tokenize_frequency_df</code> ذخیره کنید.
    10 کاراکتری که بیشترین میزان فراکانس را در توکن‌ها را داراهستند در یک متغیر به نام <code>top_10_subword_df</code> ذخیره کنید.
    </font>
    </p>



<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
دیتا فریم می‌بایست به مشابه شکل زیر باشد: (مقادیر دیتافریم شما با شکل متفاوت است)
</font>
</p>

<div align="center">

| | token | frequncy|
|---|----|-----|
| 0 | home | 5 |
| 1 | ##ara | 12 |
| 2 | they | 2 |
| ... | ... | ... |

</div>


<details class="red">
    <summary>
        <div dir="rtl">
            <strong>
                نصب کتابخانه transformers
            </strong>
        </div>
    </summary>
    <p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
        <font face="vazir" size=3>
            اگر بروی سیستم شما کتابخانه <code>transformers</code> نصب نیست از طریق دستور العمل زیر می‌توانید اقدام کنید.
        </font>
    </p>

```python

!pip install transformers

```
    
</details>

In [71]:
# importing auto tokenizer for subword tokenizer from transformers
from transformers import AutoTokenizer

# Initialize the tokenizer  
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")

# tokenization
subword_tokens = tokenizer.tokenize(''.join(text))  
subword_tokens[:5]

['once', 'upon', 'a', 'time', ',']


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در توکن‌سازی زیرکلمه‌ای (Subword Tokenization)، نیازی به حذف نویز یا علائم نگارشی به‌طور کلی وجود ندارد، زیرا این روش طراحی شده است که حتی با وجود نویز و علائم نگارشی نیز به‌خوبی عمل کند
.</font>
</p>

In [76]:
subword_tokenize_frequency_df = pd.DataFrame( Counter(subword_tokens).items() , columns=['token' , 'frequency'] )
subword_tokenize_frequency_df.head(20)

      token  frequency
0      once          1
1      upon          1
2         a          9
3      time          2
4         ,         33
5        in          5
6     quiet          1
7    little          1
8      town          1
9   nestled          1
10  between          1
11  rolling          1
12    green          1
13    hills          1
14    there          1
15      was          7
16       an          2
17      old          1
18  library          6
19    known          1

In [73]:
top_10_subword_df = subword_tokenize_frequency_df.nlargest(10 , 'frequency')
top_10_subword_df

      token  frequency
4         ,         33
24        .         24
21      the         23
32      and         13
27       to         12
2         a          9
22       of          9
15      was          7
18  library          6
56       el          6

<div dir="rtl">  
    <p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
        <font face="vazir" size=3>
            در این قسمت، هر سه دیتافریمی که از 10 توکن با بیشترین فرکانس را ایجاد کردیم تبدیل به یک دیتافریم واحد می‌کنیم.
        </font>
    </p>
</div>

In [81]:
# create a list of dataframes
frames = [top_10_word_token_df, top_10_chars_df, top_10_subword_df]

# merging the dataframes
submission = pd.concat(frames, ignore_index=True)

# save the result dataframe as 'submission.csv' file
submission.to_csv('submission.csv', index=False)
submission

       token  frequency
0       \n\n         10
1      Elara          6
2    library          5
3       book          5
4   learning          4
5       page          4
6      every          4
7       love          3
8          —          3
9         \n          3
10                  329
11         e        211
12         t        136
13         n        128
14         a        122
15         r        120
16         o        117
17         i        104
18         s        103
19         h         75
20         ,         33
21         .         24
22       the         23
23       and         13
24        to         12
25         a          9
26        of          9
27       was          7
28   library          6
29        el          6

<div dir="rtl">
<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>
</div>
<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [82]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

submission.to_csv('submission.csv', index=False)

file_names = [ 'submission.csv', 'library_of_life_analysis.ipynb']
compress(file_names)

File Paths:
['submission.csv', 'library_of_life_analysis.ipynb']